* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.2;
    color: #1D2130;
    background-color: #FEFDFC;
}

.section {
    padding: 80px 0;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
}

.form {
    max-width: 600px;
    margin: 30px auto 0;
}

.form__question {
    margin-top: 15px;
    font-weight: 600;
}

.form__answers {
    margin-top: 5px;
}

.form__option {
    display: block;
    width: 100%;
    margin-top: 10px;
    color: #1D2130;
}

.form__input {
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
}

.form__input:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #F2C94C;
    border-radius: 3px;
    background-color: white;
}

.form__input:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #1D2130;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.form__label {
    font-weight: 600;
    margin-left: 5px;
}

.btn {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #000000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 16px 32px;
    margin-top: 32px;
    border: none;
    border-radius: 4px;
    background-color: #F2C94C;
}