{% extends 'base.html.twig' %}
{% block body %}
        <div class="">
            <div class="">
                {% for label, choices in form.answer.vars.choices %}
                    <label>
                        <b>{{ label }}</b>
                    </label>
                    {% for key, choice in choices %}
                        {{ form_widget(form.answer.children[key], {'full_name': 'quize[answers]['~choice.data.question.id~']'}) }}
                        {{ form_label(form.answer.children[key]) }}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>



{% endblock %}